@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
    font-family: "Open Sans", sans-serif;
}
.leaflet-popup-content p {
    font-size: 12.5px;
    margin-top: 10px;
    margin-bottom: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

/* width */
.leaflet-popup-scrolled::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.leaflet-popup-scrolled::-webkit-scrollbar-track {
    margin: 15px;
    background: #f1f1f1;
}

/* Handle */
.leaflet-popup-scrolled::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.leaflet-popup-scrolled::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes fade-in-region {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.2;
    }
}

.region {
    animation: fade-in-region 0.8s;
    cursor: default;
}

@keyframes fade-in-tooltip {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.location-divicon-cities {
    background: rgba(89, 0, 255, 0.4);
    border: 3.2px solid rgb(4, 0, 255);
    color: blue;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

.location-divicon-cities:hover {
    border: 3.2px solid rgb(51, 60, 180);
    background: rgb(99, 26, 182);
    opacity: 1;
}

.location-divicon-province {
    background: rgba(255, 0, 0, 0.4);
    border: 3.2px solid rgb(255, 0, 0);
    color: blue;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

.location-divicon-province:hover {
    border: 3.2px solid rgb(180, 51, 51);
    background: chocolate;
    opacity: 1;
}

.tooltip-province {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 16px;
    /* font-weight: 900; */
    -webkit-text-stroke: 0.1px black;
    text-align: center;
    /* text-shadow: 0px 0px 10px rgba(255, 255, 255, 0,5); */
}

.tooltip-province::before {
    display: none;
}

.tooltip-cities {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 16px;
    font-weight: 900;
    -webkit-text-stroke: 0.2px white;
    text-align: center;
    /* text-shadow: 0px 0px 10px rgba(255, 255, 255, 0,5); */
}

.tooltip-cities::before {
    display: none;
}

.leaflet-popup-scrolled {
    border: none;
    padding-right: 5px;
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 6px 6px 0 0;
}

.leaflet-container {
    cursor: default;
}

/* side-nav */
.sidenav {
    overflow: auto;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #01583E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 0 10px black;
}

.sidenav a,
.sidenav button {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #eee0e0;
}

.sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 4px;
    padding-right: 4px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* accordion  */
.accordion {
    background-color: #01583E;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #004631;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: 0.6s;
}

.map-button {
    margin: 10px 0;
    display: block;
    padding: 8px 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;

    color: white;
    border: none;
    background-color: #0b4c35dc;
    box-shadow: 0 0 1px black;
    transition: all 0.1s;
}

.map-button:hover {
    background-color: #0b4c35c9;
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

.popup-heading {
    margin: 5px 0;
    line-height: 23px;
}

p.popup-content {
    margin-top: 0px;
}

.popup-img {
    width: 100%;
}
