/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* scroll bars !only for Google Chrome and Edge */

/* width */
.leaflet-popup-scrolled::-webkit-scrollbar,
.sidenav::-webkit-scrollbar {
  position: absolute;
  width: 5px;
}

/* Track */
.leaflet-popup-scrolled::-webkit-scrollbar-track,
.sidenav::-webkit-scrollbar-track {
  margin: 15px;
  background: #f1f1f1;
}

/* Handle */
.leaflet-popup-scrolled::-webkit-scrollbar-thumb,
.sidenav::-webkit-scrollbar-thumb {
  background: #888;
}

/* FireFox scrollbar */
.map-search-autocomplete-items, .leaflet-popup-scrolled, .sidenav {
  scrollbar-width: thin;
}

/* Handle on hover */
.leaflet-popup-scrolled::-webkit-scrollbar-thumb:hover,
.sidenav::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.map-custom-divIcon {
  background: rgba(89, 0, 255, 0.4);
  border: 3.2px solid rgb(4, 0, 255);
  color: blue;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.map-custom-divIcon--village {
  background: rgba(0, 70, 0, 0.4);
  border: 3.2px solid rgb(20, 66, 2);
  color: blue;
}

.map-custom-divIcon--point {
  background: rgba(182, 0, 91, 0.4);
  border: 3.2px solid rgb(182, 0, 91);
  color: blue;
}

.map-custom-divIcon--point:hover {
  border: 3.2px solid rgb(182, 0, 91);
  background: rgba(182, 0, 91, 0.8);
  opacity: 1;
}

.map-custom-divIcon--province {
  background: rgba(255, 0, 0, 0.4);
  border: 3.2px solid rgb(255, 0, 0);
  color: blue;
}

.map-custom-divIcon--province:hover {
  border: 3.2px solid rgb(180, 51, 51);
  background: chocolate;
  opacity: 1;
}

.map-custom-divIcon-country {
  display: none;
}

.map-custom-text-divIcon {
  margin: -27px !important;
  color: white;
  white-space: nowrap !important;
  text-shadow: 0 2px 2px #000;
}

.map-custom-text-divIcon--point {
  display: none;
}
.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
h2 {
  font-family: sans-serif;
  color: #fff;
}
.carousel {
  width: 100%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: white;
}

.map-custom-text-divIcon--country {
  margin-top: -40px !important;
  margin-left: -50px !important;
  color: white;
  font-size: 20px;
  -webkit-text-stroke: 0.1px black;
  line-height: 20px;
}

.map-custom-text-divIcon:hover {
  cursor: default;
}

@-webkit-keyframes pulse-black {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(182, 0, 91, 0.9);
    box-shadow: 0 0 0 0 rgba(182, 0, 91, 0.9);
  }

  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(182, 0, 91, 0);
    box-shadow: 0 0 0 6px rgba(182, 0, 91, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(182, 0, 91, 0);
    box-shadow: 0 0 0 0 rgba(182, 0, 91, 0);
  }
}

@keyframes pulse-black {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(182, 0, 91, 0.9);
    box-shadow: 0 0 0 0 rgba(182, 0, 91, 0.9);
  }

  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(182, 0, 91, 0);
    box-shadow: 0 0 0 6px rgba(182, 0, 91, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(182, 0, 91, 0);
    box-shadow: 0 0 0 0 rgba(182, 0, 91, 0);
  }
}

/* overrides leaflet styling */

.leaflet-popup-content p {
  font-size: 12.5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.leaflet-popup-content img {
  margin-bottom: 5px;
}

.leaflet-popup-content .btn {
  width: 100%;
  margin-bottom: 5px;
}

.leaflet-popup-scrolled {
  border: none;
  padding-right: 5px;
  margin-right: 10px;
  margin-bottom: 14px;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 6px 20px 0 0;
}

.leaflet-container {
  cursor: default;
}

.leaflet-routing-container.leaflet-bar.leaflet-routing-container-hide.leaflet-control {
  display: none;
}



.map-gallery-caption {
  text-shadow: 
  1px 0px 8px #110101, 0px 1px 8px #1d1b1b, 
  2px 1px 8px #110101, 1px 2px 8px #1d1b1b,
  3px 2px 8px #110101, 2px 3px 8px #1d1b1b;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}

.map-zoom-in-btn {
  margin: 10px 0;
  display: block;
  padding: 8px 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.5px;
  width: 100%;

  color: white;
  border: none;
  background-color: #0b4c35dc;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.map-zoom-in-btn:hover {
  background-color: #0b4c35c9;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

.popup-heading {
  margin: 5px 0;
  line-height: 25px;
  color: black;
}

p.popup-content {
  margin: 0;
}

.popup-img {
  width: 100%;
  min-height: 120px;
  max-height: 120px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 1px 0px #000000;
  box-shadow: 0px 0px 1px 0px #000000;
  object-fit: cover;
}

.popup-img:hover {
  cursor: zoom-in;
}

.popup-divider {
  width: 80%;
  margin: 8px auto;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.map-container input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
}

.map-container input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
  padding: 0 10px;
}

.map-container input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.modal-body {
  /* max-height: 400px; */
  overflow: hidden;
}

#exampleModal {
  z-index: 2000222;
}

#carouselExampleFade {
  /* max-height: 400px; */
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
}

.map-toggle-full-screen-btn {
  background-color: #f4f4f4;
  padding: 6px 5px 6px 6px;
  cursor: pointer;
  z-index: 500000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 15px 15px;
  color: black;
}

.map-toggle-full-screen-btn svg {
  display: none;
}

.map-toggle-full-screen-btn svg.open {
  display: block;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
 .map-gallery-caption {
   font-size: 19px;
 }
}

@media only screen and (max-width: 500px) {
  .map-gallery-caption {
    font-size: 16px;
  }
 }

 @media screen and (max-height: 450px) {
  .map-sidenav {
    padding-top: 15px;
  }

  .map-sidenav a {
    font-size: 18px;
  }
}